.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 50px;
}

span {
  margin: 12px 0;
}

.area-input form {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: 100%;
  margin-bottom: 12px;
  height: 46px;
  background-color: #121212;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 0 12px;
  text-align: center;
  font-size: 16px;
}

form button {
  width: 100%;
  height: 46px;
  border: none;
  border-radius: 5px;
  background-color: #3574ff;
  color: #fff;
  font-size: 16px;
}

h2 {
  margin-top: 28px;
  font-size: 12px;
}
